{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="hk-site-nav" class="hk-nav">
        <a class="hk-nav-brand" href="{{ base_path }}/#about">{{ site.title }}</a>
        <div class="hk-nav-links">
          <a href="{{ base_path }}/#about" data-section-link="about">About</a>
          <a href="{{ base_path }}/#publications" data-section-link="publications">Publications</a>
          <a href="{{ base_path }}/#cv" data-section-link="cv">CV</a>
          <a href="{{ base_path }}/#patents" data-section-link="patents">Patents</a>
          <a href="{{ base_path }}/#services" data-section-link="services">Services</a>
        </div>
      </nav>
    </div>
  </div>
</div>
