---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

  {% comment %}
      <div class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
  {% endcomment %}

    {% include scripts.html %}
    
<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=2LZOyCE1YChNbhAZ_LFpNXlGFPvRSGg5iycCv852tdk&cl=ffffff&w=a"></script>

  </body>
</html>
